<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<header>
    <div class="header-nav">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <a href="/">
                    <span class="link-home">Woonwinkel</span>
                </a>
            </div>
            <div class="col-12">
                <div class="row text-center">
                    <div class="col header-links">
                        <a href="/" class="header-link">Products</a>
                        <a href="/" class="header-link">Store Finder</a>
                        <a href="/" class="header-link">About</a>
                        <a href="/contact" class="header-link active">Contact</a>
                        <a href="/" class="header-link">Downloads</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header><br><br>

<div class="contact-content">
    <h1>{{title}}</h1>
    <form>
        <textarea placeholder="opmerking"></textarea>
    </form>
</div>
