<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<header>
    <div class="header-nav">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <a href="/">
                    <span class="link-home">Woonwinkel</span>
                </a>
            </div>
            <div class="col-12">
                <div class="row text-center">
                    <div class="col header-links">
                        <a href="/" class="header-link">Products</a>
                        <a href="/" class="header-link">Store Finder</a>
                        <a href="/" class="header-link">About</a>
                        <a href="/contact" class="header-link">Contact</a>
                        <a href="/" class="header-link">Downloads</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header><br><br>

<div id="content">
    <h1 id="title">{{title}}</h1><br><br>
    <form id="form">
        <input name="search" type="text">
        <input name="button" value="Search" type="button">
    </form>
</div>
<div id="imagediv">
    <img src="/images/lamp1.png">
    <img src="/images/meubel1.jpg">
    <img src="/images/dining1.png">
    <img src="/images/stoel1.png">
    <img src="/images/lamp2.png">
    <img src="/images/meubel2.jpg">
</div>